html { 
    background-color: lightslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}  

.title {
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    align-items: center;
    margin: 1em auto;
    border-radius: 5%;
}

h2 {
    margin-left: 1rem;
}

h3 {
 margin: auto 0 auto 2rem;
}

p {
    margin-left: 1rem;
}

p.directions {
    margin: 0.2rem 0 .5rem 2rem;
}

strong {
    font-size: 1rem;
}

.list {
    list-style-type: none;
    text-decoration: none;
    padding: 0.5em;
    font-size: medium;
}

li {
    margin-left: 2em;
}

a {
    color: rgb(4, 38, 102);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(44, 236, 195);
}

.list .odd {
    background-color: gray;
}